<!doctype html>
<html ng-app="todoApp">
  <head>
    <title>Authentiq snippet example in angular.js</title>

    <!-- Open Graph -->
    <meta property="og:title" content="Authentiq snippet example in angular.js" />
    <meta property="og:url" content="http://www.authentiq.com" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Authentiq snippet example in angular.js" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />

    <!-- Load our Bootstrap theme -->
    <link rel="stylesheet" href="//rawgit.com/AuthentiqID/bootstrap/master/dist/css/bootstrap.min.css"/>

    <!-- Load needed fonts -->
    <link href="//fonts.googleapis.com/css?family=Montserrat:400,700|Noto+Serif:400|Material+Icons" rel="stylesheet" type="text/css">

    <!-- Favicon -->
    <link rel="shortcut icon" href="//www.authentiq.com/theme/images/apple-touch-icon.png" />

    <!-- load the Authentiq snippet -->
    <script src="static/js/authentiq.js"
            class="authentiq-snippet"
            data-client-id="test-js-snippet">
    </script>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>

    <!-- Load the angular module that handles the Authentiq snippet -->
    <script src="authentiq-angular.js"></script>
    
    <script src="todo.js"></script>
  </head>
  <body>
    <div class="container">
      <h1>Authentiq snippet example in angular.js</h1>
      <hr />

      <p class="lead">
        For testing this example you must have our app installed on your phone.
      </p>

      <p>
        <!-- Create a button for connecting using Authentiq Connect -->
        <button class="authentiq-button"
                data-sign-out-claim="given_name">
          Sign in using your phone
        </button>
      </p>

      <hr />
  
      <h2>Todo list{{profile.given_name ? ' of ' + profile.name: ''}}</h2>

      <p ng-show="!loggedIn">Please login first.</p>

      <div ng-controller="TodoListController as todoList" ng-show="loggedIn">
        <span>{{todoList.remaining()}} of {{todoList.todos.length}} remaining</span>
        [ <a href="" ng-click="todoList.archive()">archive</a> ]
        <ul class="unstyled">
          <li ng-repeat="todo in todoList.todos">
            <input type="checkbox" ng-model="todo.done">
            <span class="done-{{todo.done}}">{{todo.text}}</span>
          </li>
        </ul>
        <form ng-submit="todoList.addTodo()">
          <input type="text" ng-model="todoList.todoText"  size="30"
                 placeholder="add new todo here">
          <input class="btn-primary" type="submit" value="add">
        </form>
      </div>

      <br />
      <pre>
        <strong>Debug vars:</strong>

        loggedIn = {{loggedIn}}
        profile = {{profile | json}}
      </pre>
    </div>
  </body>
</html>