<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
</head>
<body>

Foo
<!--<script src="{{ url_for('.static', filename='js/authentiq.js')}}"-->
        <!--class="authentiq-snippet"-->

        <!--data-base-url="http://192.168.0.10:5000/"-->
        <!--data-client-id="test-client-examples"-->
        <!--data-response-type="code id_token"-->
        <!--data-scope2="email aq:push aq:name"-->
        <!--data-button="1"-->
        <!--data-display="modal"-->
        <!--data-sign-in-text="Sign in or register"-->
        <!--data-sign-out-text2=" out"-->
        <!--data-sign-out-claim="given_name"/>-->

<!--<button class="authentiq-button btn btn-primary"-->
        <!--data-client-id="test-client-examples"-->
        <!--data-response-type="id_token"-->
        <!--data-display="page"-->
        <!--data-sign-in-text="Sign in or register"-->
        <!--data-sign-out-text2=" out"-->
<!--&gt;KNOP</button>-->

<!--<script src="{{ url_for('.static', filename='js/authentiq.js')}}"-->
        <!--class="authentiq-snippet"-->
        <!--data-base-url="http://192.168.0.10:5000/"-->
        <!--data-client-id="test-client-examples"-->
        <!--data-sign-out-claim="given_name"-->
        <!--data-response-type="code id_token"-->
        <!--data-display="page"-->
    <!--data-button="1">-->

        <!--var DEBUG = true;-->
<!--</script>-->

<script src="//cdn.authentiq.io/authentiq-js/latest/authentiq.js"></script>

<button class="authentiq-button" data-client-id="your <client_id>">
  Sign in with Authentiq ID
</button>

</body>
</html>